body { 
	font-family: 'Open sans',sans-serif;
	text-align: center;
}


nav {
	padding: 0.5rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
	position: sticky;
	padding-right: 13%;
	top:  0;
	overflow: auto;
	background-color: white;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem; 
	display: inline;
}

.right-nav {
	float: right;
}

.apply-button {
	background-color:#c2195b ;
	border-radius:25px;
	color: white;
	border-color: transparent;
    width: 110px;
    height: 30px;
    opacity: 1 !important;
}

.tuitt-button {
	background-color:#c2195b ;
	border-radius:25px;
	color: white;
	border-color: transparent;
    width: 110px;
    height: 30px;
}

#bg-image {
	background-image:url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-position: center;
	background-size:cover;
}

/*.front-bg {
	background-color: black;
    opacity: 0.7;
    min-height: 50vh;
}*/

.front-bg {  
	background-color: rgba(0, 0, 0, 0.5);
    opacity: 1rem;
    min-height: 50vh;
}

.intro-h2, .intro-p {
	text-align: justify;
	margin:  7rem;
}

.container {
	color: white;
	text-align: right;
	width: 390px;
	margin-right: 50px;
	float: right;
	padding-right: 7%;
}

.title { 
	text-align: right;
	box-sizing: border-box;
	display: block;
	font-size: 28px;
	margin-top: 0;
}

.subtitle {
	font-size: 18px;
	text-align: right;
	box-sizing: border-box;
	display: block;
}

.title, .title-2 {
	font-family: 'Zilla Slab', sans-serif ;
}

.intro-description {
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 3%;
	text-align: justify;
	}


.pre-footer {
	background-color: #f7fbfb;
	max-height:150px ;
	padding-bottom: 15%;

}
.prefooter-description {
	padding-right: 15%;
	padding-left: 15%;
}

.title-2 {
	padding: 5%
}

.book-button {
	background-color: #336589;
	border-radius:25px;
	color: white;
	border-color: transparent;
    width: 110px;
    height: 30px;
    margin-bottom:100px;
}

footer {
	text-align: center;
}

